*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    max-width: 1440px;
    /* border: 1px solid red; */
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.navbar .nav-title{
    color: #3A3A3A;
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;
    list-style: none;
    gap: 34px;
}

.navbar .nav-links ul a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 500;
    font-size: 1rem;

    
}
#hero{
    
    
}

.hero-container{
    max-width: 1440px;
    margin: 0 auto ;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}

.hero-content h2{
    color: #3A3A3A;
    font-size: 3.2rem;
    font-weight: bold;
    max-width: 582px;
    margin-bottom: 16px;
}

.hero-content p{
    color: #3A3A3A;
    max-width: 505px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.hero-content button{
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
}

.hero-container img{
    background: url(../images/Circle\ design.svg);
    max-width: 440px;
    width: 100%;
}









@media screen and (max-width:576px){
    .navbar{
        flex-direction: column;
    }
    .navbar .nav-links ul {
        margin-top: 20px;
    }
    .hero-container{
        flex-direction: column;
        gap: 30px;
    }
}
