*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    max-width: 1440px;
    /* border: 1px solid red; */
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.navbar .nav-title{
    color: #3A3A3A;
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;
    list-style: none;
    gap: 34px;
}

.navbar .nav-links ul a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 500;
    font-size: 1rem;

    
}
