*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    max-width: 1440px;
    /* border: 1px solid red; */
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.navbar .nav-title{
    color: #3A3A3A;
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;
    list-style: none;
    gap: 34px;
}

.navbar .nav-links ul a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 500;
    font-size: 1rem;

    
}
#hero{
    
    
}

.hero-container{
    max-width: 1440px;
    margin: 0 auto ;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 100px;
}

.hero-content h2{
    color: #3A3A3A;
    font-size: 3.2rem;
    font-weight: bold;
    max-width: 582px;
    margin-bottom: 16px;
}

.hero-content p{
    color: #3A3A3A;
    max-width: 505px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.hero-content button{
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
}

.hero-container img{
    background: url(../images/Circle\ design.svg);
    max-width: 440px;
    width: 100%;
}

.sponsor-container{
    max-width: 1110px;
    /* border: 1px solid red; */
    margin: 0 auto 100px;
    padding: 41px;
    
}

.sponsor-container .sponsor-image{
    /* display: flex;
    justify-content: space-around; */

    display: grid;
    grid-template-columns: repeat(7,1fr);
    
}

.collection-container{
    max-width: 1047px;
   
    margin: 0 auto;
}

.collection-container h2{
    color:#3A3A3A;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.collection-container .collection-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
     padding-bottom: 50px;
}
.collection-container .collection-card .card{
    max-width: 329px;
    box-shadow: 0 0 40px #00000026;
    padding: 17px 15px;
}

.collection-card .card img{
    max-width: 300px;
    width: 100%;
    margin-bottom: 16px;
}
.collection-card .card h3{
    color: #18191F;
    font-size: 1.8rem;
    font-weight:400;
    margin-bottom: 6px;

}

.collection-card .card h4{
    color: #000000;
    font-size: 1.4rem;
    margin-bottom: 16px;
}

.collection-card .card p{
    color: #787885;
    max-width: 196px;
    font-size: 0.9rem;
    font-weight: bold;
}
.collection-container .see-more{
    text-align: end;
    color: #E02C6D;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 100px;
}

.feature-container{
    max-width: 1110px;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-container .feature-image{
    width: 100%;
    max-width: 404px;
}

.feature-container .feature-content h2{
    color: #0A0826;
    font-weight: bold;
    font-size: 2.5rem;
    max-width: 610px;
    margin-bottom: 16px;
}
.feature-container .feature-content p{
    color: #6C6C6C;
    max-width: 501px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 16px;
}
.feature-container .feature-content button{
      background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
   padding: 10px 24px;
}






@media screen and (max-width:576px){
    .navbar{
        flex-direction: column;
    }
    .navbar .nav-links ul {
        margin-top: 20px;
    }
    .hero-container{
        flex-direction: column;
        gap: 30px;
       text-align: center;
    }

    
    

    .sponsor-container .sponsor-image{
        /* flex-direction: column;
        max-width: 84px; */
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
         }

         .collection-container .collection-card{
    
    grid-template-columns: repeat(1,1fr);
  padding-left: 55px;
    
}

.collection-container .see-more{
    text-align: center;
}
.feature-container{
    flex-direction: column;
}
.feature-container .feature-content{
    text-align: center;
}
}
